div.todo {
    width: 350px;
    background-color: #007CBB;
}

div.input {
    padding-top: 5px;
}

input.todo {
    display: block;
    margin : 0 auto;
    width: 300px;
    height: 25px;
    padding-left: 5px;
    font-size: 12pt;
    border-style: none;
    background-color: #006690;
    color: white;
}

input.todo:focus {
    outline: none;
    background-color: #006690;
}

div.todo-list-item-inner {
    display: block;
    margin : 0 auto;
    padding: 0px 5px 0px 5px;
    background-color: #0095D3;
    width: 300px;
}

div.todo-list-item-inner-done {
    display: block;
    margin : 0 auto;
    padding: 0px 5px 0px 5px;
    background-color: #DFA100;
    width: 300px;
    text-decoration: line-through;
}

div.todo-list-item-outer {
    display: block;
    margin : 0 auto;
    padding: 5px 0px 5px 0px;
}

div.todo-list {
    padding-bottom: 5px;
}

button.todo-list-item-delete {
    float: right;
    color: black;
    background: transparent;
    border-style: none;
}
